table{
  width: 100%;
}

ul li{
  list-style: none;
}

.alinear{
  text-align: center;
  margin-top: 20px;
}

.right{
  margin-left: auto;
}

mat-form-field{
  width: 140%;
}

.mat-cell:nth-child(1),
.mat-header:nth-child(1){
  flex: 0 0 6%;
}

.no-data-row {
  background-color: #f1f361; /* Cor de fundo amarela clara (como um aviso) */
  font-weight: bold;
  text-align: center;
  color: #ee1628; /* Cor do texto escura (para contraste com o fundo) */
}

.no-data-row td {
  text-align: center;
  padding: 20px;
}
