<mat-card>
  <h2 class="alinear">Lista de Categorias</h2>
  <mat-card-header>
    <div>
      <mat-form-field hintLabel="buscar Categorias" appearance="fill">
          <mat-label>Buscar Categorias</mat-label>
          <input matInput #input>
      </mat-form-field>
    </div>
  </mat-card-header>
  <mat-card-header>
    <div class="right">
      <ul>
        <li>
          <button  mat-raised-button color="primary">Adicionar categoria</button>
        </li>
      </ul>
    </div>

  </mat-card-header>
  </mat-card>

